/*
ブレイクポイント
*/

/*======================================
共通・汎用
=======================================*/

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;
  line-height: 2;
  color: #333;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.inner {
  width: 100%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin-bottom: 10px;
}

.row {
  padding-top: 70px;
  padding-bottom: 70px;
}


/*======================================
ヘッダー
=======================================*/

header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .inner .logo,
header .menu_btn {
  padding-left: 1%;
  padding-right: 1%;
}


header nav {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  padding-top: 64px;
  padding-left: 32px;
  padding-right: 32px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

header.on nav {
  opacity: 1;
  visibility: visible;
}

/*ヘッダーが.onするとロゴが消える*/
/* header.on .logo {
  visibility: hidden;
} */



/*ハンバーガーボタン*/

header .menu_btn {
  width: 50px;
  height: 40px;
  position: relative;
  z-index: 100;
}

header .menu_btn span {
  display: block;
  height: 2px;
  background-color: #333;
  transition: 0.7s;
  transition-timing-function: ease-out;
}

header .menu_btn span:nth-child(2) {
  transform: translateY(9px);
}

header .menu_btn span:last-child {
  transform: translateY(18px);
}

/*.on*/
header.on .menu_btn span:first-child {
  transform: translateY(11px) rotate(405deg);
}

header.on .menu_btn span:nth-child(2) {
  display: none;
}

header.on .menu_btn span:last-child {
  transform: translateY(9px) rotate(-405deg);
}

/*ハンバーガーボディー*/
header nav .menu_body {
  text-align: center;
}

header nav .menu_body ul li {
  margin-bottom: 20px;
  font-size: 4.1rem;
}

header nav .menu_body ul li:not(:first-child) {
  border-bottom: 2px solid #fff;
}

header nav .menu_body ul li a {
  color: #fff;
}

header nav .menu_body ul li a:hover {
  opacity: 0.7;
  color: #f77237;
}

/*sp_img*/
header .inner .sp_header_img p img {
  height: 70px;
  max-width: 170px;
}

@media screen and (min-width:600px) {

  header .menu_btn {
    display: none;
  }

  header .inner .sp_header_img p img {
    display: none;
  }

  header nav {
    position: absolute;
    visibility: visible;
    opacity: 1;
    display: flex;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    height: auto;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
  
  header nav ul {
    display: flex;
  }
  
  header nav .menu_body ul li {
    margin-left: 10%;
    font-size: 1.6rem;
  }
  
  header nav .menu_body ul li img {
    width: 100%;
    height: 70px;
  }


  header nav .menu_body ul li a {
    color: #333;

  }
  
  header nav .menu_body ul li a:hover {
    color: #333;
    opacity: 0.7;

  }
}/*min-width:600px*/

@media screen and (min-width:700px) {

  header,
  header nav {
    padding-top: 50px;
  }

  header nav .menu_body ul li {
    margin-left: 20px;
  }

  header nav .menu_body ul li img {
    max-width: 170px;
  }

  header nav .menu_body ul li a {
    padding-bottom: 10px;
  }

  header nav .menu_body ul li a:hover {
    border-bottom: 1px solid #000;
  }

}/*min-width:700px*/

@media screen and (min-width:1025px) {

header nav {
  visibility: visible;
  opacity: 1;
  display: flex;
  justify-content: center;
  background-color: transparent;
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-left: 0;
  padding-right: 0;
}

header nav ul {
  display: flex;
}

header nav .menu_body ul li {
  margin-left: 30px;
  font-size: 3.1rem;
}

header nav .menu_body ul li img {
  width: auto;
  height: 70px;
}

header nav .menu_body ul li a {
  color: #333;
  padding-bottom: 10px;
}

header nav .menu_body ul li a:hover {
  color: #333;
  opacity: 0.7;
  border-bottom: 1px solid #000;
}

}/*min-width:1025px*/











/*======================================
仮
=======================================*/
















