
/*====================================
key_visual
=====================================*/

/* #top .key {
  margin-top: 70px;
} */

#top .key .inner .key_visual {
  background-image: url(../images/key_visual.jpg);
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center center;
}

#top .key .inner .key_text {
  width: 80%;
  max-width: 980px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

#top .key .inner .key_text p {
  font-size: 1.25rem;
  line-height: 1.5;
}

@media screen and (min-width:600px) {

#top .key .inner .key_text h2 {
  font-size: 2.2rem;
}
  
#top .key .inner .key_text p {
  font-size: 1.6rem;
}
  
}/*min-width:600px*/

@media screen and (min-width:1025px) {

#top .key .inner .key_text h2 {
  font-size: 2.6rem;
}
  
}/*min-width:1025px*/

/*====================================
top_main_contents
=====================================*/

#top .contents_wrap {
  /*色後で差し替え*/
  border: 1px solid #000;
  padding-left: 50px;
  padding-right: 50px;
}

#top .contents_wrap .top_about {
  display: flex;
  justify-content: space-between;
}

#top .top_about .about_text h2 {
  font-size: 2.6rem;
}

#top .top_about .about_text dl {
  margin-bottom: 30px;
}

#top .top_about .about_text dl dt {
  font-size: 12px;
}

#top .top_about .about_text dl dd {
  font-weight: 600;
}

#top  .top_about .about_text .about_icon {
  display: flex;
  margin-bottom: 20px;
} 

#top  .top_about .about_text .about_icon li {
  margin-right: 20px;
}

#top  .top_about .about_text .sns_icon {
  display: flex;
  justify-content: center;
}

#top  .top_about .about_text .sns_icon li {
  margin-right: 20px;
}

#top .top_about .about_img {
  margin-top: -120px;
  width: 64%;
} 

#top .top_about .about_img p img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;

}

@media screen and (max-width:600px) {

  #top .contents_wrap .top_about {
    display: block;
    text-align: center;
  }

  #top .top_about .about_text  {
    margin-bottom: 30px;
  }

  #top  .top_about .about_text .about_icon {
    justify-content: center;
  }

  #top .top_about .about_text .sns_icon {
    display: flex;
    justify-content: center;
  }

  #top .top_about .about_img {
    margin-top: 0;
    width: 100%;
  } 
  
}/*max-width:600px*/



/*====================================
top_menu
=====================================*/


#top .top_menu h2 {
  padding-top: 70px;
  padding-bottom: 70px;
  font-size: 2.6rem;
  text-align: center;
}

#top .menu_images {
  display: flex;
}

#top .menu_images a:nth-child(2) {
  margin-left: 20px;
  margin-right: 20px;
}

#top .menu_images a figure figcaption {
  margin-top: 20px;
  text-align: center;
  color: #333;
}

#top .menu_images a figure figcaption:hover {
  opacity: 0.7;
}

/*モーダルメニュー*/

#top .top_menu .modal{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

#top .top_menu .modal .modal_bg {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

#top .top_menu .modal .modal_window {
  /* width: 50%; */
  /* height: 300px; */
  border-radius: 5px;
  /* background-color: #fff; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform:  translate(-50%,-50%);
  text-align: center;
  /* overflow: scroll; */
}



#top .top_menu .modal .modal_window h3 {
  margin-bottom: 600px;
}

#top .top_menu .modal .close {
  width: 100px;
  padding: 10px;
  margin: 40px auto 0px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  background-color: #999;
  cursor: pointer;
}

@media screen and (max-width:600px) {

  #top .menu_images {
    display: block;
    text-align: center;
  }

  
}/*max-width:600px*/








/* 


#top .top_menu h2 {
  font-size: 2.6rem;
  text-align: center;
}

#top .top_menu .menu_img ul {
  display: flex;
}

#top .top_menu .menu_img ul li:nth-child(2) {
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width:600px) {

  #top .top_menu .menu_img ul {
    display: block;
    text-align: center;
  }

  #top .top_menu .menu_img ul li {
    margin-bottom: 30px;
  }

#top .top_menu .menu_img ul li:nth-child(2) {
  padding-left: 0;
  padding-right: 0;
}

  #top .top_menu .menu_img ul li a img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }
  
} */

